body {
    margin: 0;
}
/*--------header----------*/
header {
 height: 70px;
 width: 100%;
 background-color: black;
}
/*--------end-header----------*/


.first-block {
    background-color: #EBEBEB;
}

.first-block__container {
    width: 80%;
}